@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap");
body {
  font-family: "Lora", serif;
  color: #fff;
  padding: 20px;
  background-image: url("https://img.freepik.com/vetores-premium/padrao-perfeito-de-fast-food-no-estilo-doodle_650511-939.jpg?w=2000");
  background-size: cover;
}

.total {
  margin: 150px auto;
  text-align: center;
  width: 500px;
  /* background-color: #FFFFFF; */
  /* padding: 20px; */
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: 0px 0px 10px #fff;
  background-color: rgb(29, 28, 34);
  /* background: linear-gradient(to bottom, rgb(29, 28, 34), gray); */
}
input {
  caret-color: red;
}
h1 {
  margin-bottom: 20px;
}
h2 {
  margin-bottom: 10px;
}
.title-card {
  width: 200px;
  height: 10px;
  text-align: center;
  background: #ecf0f3;
  padding: 5px;
  padding-left: 20px;
  /* font-size: 14px; */
  /* font-size: 20px; */
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
textarea {
  caret-color: red;
  text-align: center;
  padding: 5px;
  width: 200px;
  height: 10px;
  font-size: 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
button[type="submit"] {
  margin-top: 20px;
  margin-bottom: 30px;

  /* background-color: blue; */
  color: black;
  padding: 10px 20px;
  border: none;
  /* width: 100px; */
  border-radius: 5px;
  cursor: pointer;
}
/* button[type="submit"]:hover {
  background-color: ;
  color: ;
} */

.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button a {
  text-decoration: none;
  color: white;
  font-family: "Lora", serif;
}
#button a {
  text-decoration: none;
  color: white;
  font-family: "Lora", serif;
}
